In [17]:
from mlflow.tracking import MlflowClient

DATASET_PATH = "../../datasets/yellow_tripdata_2023-01.parquet"
MLFLOW_TRACKING_URI = "sqlite:///mlflow.db"

client = MlflowClient(tracking_uri=MLFLOW_TRACKING_URI)

In [18]:
import plotly.express as px
import pandas as pd
import gc

dataset = pd.read_parquet(DATASET_PATH)

display(dataset.head())
display(dataset.dtypes)
display(dataset.describe())

del dataset

gc.collect()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

VendorID                          int64
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
count,3.066766e+06,3066766,3066766,2.995023e+06,3.066766e+06,2.995023e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,3.066766e+06,2.995023e+06,2.995023e+06
mean,1.730215e+00,2023-01-17 00:22:26.288164,2023-01-17 00:38:06.427874,1.362532e+00,3.847342e+00,1.497440e+00,1.663980e+02,1.643926e+02,1.194483e+00,1.836707e+01,1.537842e+00,4.882900e-01,3.367941e+00,5.184907e-01,9.820847e-01,2.702038e+01,2.274231e+00,1.074086e-01
min,1.000000e+00,2008-12-31 23:01:42,2009-01-01 14:29:11,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-9.000000e+02,-7.500000e+00,-5.000000e-01,-9.622000e+01,-6.500000e+01,-1.000000e+00,-7.510000e+02,-2.500000e+00,-1.250000e+00
25%,1.000000e+00,2023-01-09 16:21:57.250000,2023-01-09 16:37:06,1.000000e+00,1.060000e+00,1.000000e+00,1.320000e+02,1.140000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,1.000000e+00,1.540000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,2023-01-17 08:42:29.500000,2023-01-17 08:58:30.500000,1.000000e+00,1.800000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.280000e+01,1.000000e+00,5.000000e-01,2.720000e+00,0.000000e+00,1.000000e+00,2.016000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,2023-01-24 16:26:27,2023-01-24 16:42:49,1.000000e+00,3.330000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,2.050000e+01,2.500000e+00,5.000000e-01,4.200000e+00,0.000000e+00,1.000000e+00,2.870000e+01,2.500000e+00,0.000000e+00
max,2.000000e+00,2023-02-01 00:56:53,2023-02-02 09:28:47,9.000000e+00,2.589281e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,1.160100e+03,1.250000e+01,5.316000e+01,3.808000e+02,1.969900e+02,1.000000e+00,1.169400e+03,2.500000e+00,1.250000e+00
std,4.438480e-01,NaN,NaN,8.961200e-01,2.495838e+02,6.474767e+00,6.424413e+01,6.994368e+01,5.294762e-01,1.780782e+01,1.789592e+00,1.034641e-01,3.826759e+00,2.017579e+00,1.833529e-01,2.216359e+01,7.718454e-01,3.556511e-01

0

In [19]:

dataset = pd.read_parquet(DATASET_PATH)
df = dataset.sample(frac=.5)
del dataset

In [5]:

df["PU_DO"] =  df["PULocationID"].astype(str) + "_" + df["DOLocationID"].astype(str)
df['duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60

In [10]:
from sklearn.feature_extraction import DictVectorizer

categorical = ["PU_DO"]
numerical = ["trip_distance"]

dicts = df[categorical + numerical].to_dict(orient='records')

In [12]:
dv = DictVectorizer()

X = dv.fit_transform(dicts)

In [3]:
def get_data(frac: float = .5) -> pd.DataFrame:
    dataset = pd.read_parquet(DATASET_PATH)
    df = dataset.sample(frac=frac)
    del dataset

    df["PU_DO"] =  df["PULocationID"].astype(str) + "_" + df["DOLocationID"].astype(str)
    df['duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60
    cols = df.columns.tolist()
    df = pd.get_dummies(df, columns=['PU_DO'])
    ohed_cols = [col for col in df.columns if col not in cols]

    X = df[ohed_cols + ['trip_distance']] 
    y = df['duration']

    return X, y

In [4]:
X, y = get_data(frac=0.5)

:

In [20]:
import mlflow


mlflow.set_tracking_uri(MLFLOW_TRACKING_URI)
mlflow.set_experiment("yellow-taxi-trip-duration")

<Experiment: artifact_location='/Users/alperiox/Desktop/coding/mlops-zoomcamp/studies/02/mlruns/1', creation_time=1717103873778, experiment_id='1', last_update_time=1717103873778, lifecycle_stage='active', name='yellow-taxi-trip-duration', tags={}>

In [26]:
experiment_name = "yellow-taxi-trip-duration"
exps = mlflow.search_experiments(filter_string=f"name = '{experiment_name}'")
if len(exps) > 0:
    mlflow.set_experiment(experiment_name)
else:
    mlflow.create_experiment(experiment_name)

[<Experiment: artifact_location='/Users/alperiox/Desktop/coding/mlops-zoomcamp/studies/02/mlruns/1', creation_time=1717103873778, experiment_id='1', last_update_time=1717103873778, lifecycle_stage='active', name='yellow-taxi-trip-duration', tags={}>]

In [9]:
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import root_mean_squared_error, r2_score


with mlflow.start_run():
    mlflow.set_tag("developer", "Alper")
    mlflow.set_tag("model", "Lasso")
    
    # parameters for the experiment
    dataset_frac = 0.5
    test_size = 0.2
    alpha = 0.1

    # log these parameters
    mlflow.log_param("dataset_frac", 0.5)
    mlflow.log_param("test_size", 0.2)
    mlflow.log_param("alpha", 0.1)
    
    # dataset preparation
    X, y, numerical_features = get_data(frac=dataset_frac)
    x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=42)

    mlflow.log_param("additional_features", numerical_features)
    # training the model
    model = Lasso(alpha=alpha)
    model.fit(x_train, y_train)

    # get the preds
    train_preds = model.predict(x_train)
    valid_preds = model.predict(x_test)

    # calculate the metrics
    training_rmse = root_mean_squared_error(y_train, train_preds)
    validation_rmse = root_mean_squared_error(y_test, valid_preds)

    training_r2 = r2_score(y_train, train_preds)
    validation_r2 = r2_score(y_test, valid_preds)

    # log the metrics
    mlflow.log_metric("training_rmse", training_rmse)
    mlflow.log_metric("validation_rmse", validation_rmse)
    mlflow.log_metric("training_r2", training_r2)
    mlflow.log_metric("validation_r2", validation_r2)
    
    print(f"Training RMSE: {training_rmse}")
    print(f"Validation RMSE: {validation_rmse}")

    print(f"Training R2: {training_r2}")
    print(f"Validation R2: {validation_r2}")

: